@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650972000828') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baidussp:before {
  content: "\e60e";
}

.icon-denglupeizhi:before {
  content: "\e60f";
}

.icon-cebianlan:before {
  content: "\e610";
}

.icon-fenxiangzujian:before {
  content: "\e611";
}

.icon-dingbudaohang:before {
  content: "\e612";
}

.icon-dongman9-01:before {
  content: "\e61d";
}

